@charset "utf-8";
/* CSS Document */

#cuerpo {
	background-color: #000;
	cursor: default;
}
#cuerpo #pagina {
	height: auto;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
#cuerpo #pagina #logo {
	height: 154px;
	width: 790px;
	margin-right: auto;
	margin-left: auto;
	float: right;
	text-align: center;
}
#cuerpo #pagina #barra {
	float: left;
	padding-top: 154px;
	height: 160px;
	width: 200px;
}
#cuerpo #pagina #barra  #menu{
	float: left;
	height: 150px;
	width: 200px;
	color: #FFF;
	font-size: 36px;
	font-family: "freestyle Script", "Times New Roman", Arial;
}
#cuerpo #pagina #barra #menu #boton_inicio{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
}
#cuerpo #pagina #barra #menu #boton_menues{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
}
#cuerpo #pagina #barra #menu #sub_menu {
	font-size: 24px;
	color: #996;
	height: auto;
	width: 100%;
	padding-left: 50px;
}
#cuerpo #pagina #barra #menu #sub_menu #pizza {
}
#cuerpo #pagina #barra #menu #sub_menu #sushi {
}
#cuerpo #pagina #barra #menu #sub_menu #comidas {
}
#cuerpo #pagina #barra #menu #sub_menu #eventos {
}
#cuerpo #pagina #barra #menu #sub_menu #pizza:hover {
	color: #663;
}
#cuerpo #pagina #barra #menu #sub_menu #sushi:hover {
	color: #663;
}
#cuerpo #pagina #barra #menu #sub_menu #comidas:hover {
	color: #663;
}
#cuerpo #pagina #barra #menu #sub_menu #eventos:hover {
	color: #663;
}
#cuerpo #pagina #barra #menu #boton_contact{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;

}
#cuerpo #pagina #datos {
	float: right;
	height: auto;
	width: 790px;
	color: #FFF;
	text-align: center;
	padding-top: 50px;
	font-size: 24px;
	background-image: url(../Imagenes/Fondo_790px.jpg);
}
#cuerpo #pagina #datos #loading {
	height: 150px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

#cuerpo #pagina #datos #entrada {
	font-size: 24px;
	font-family: Calibri, Arial;
	color: #FFF;
}
#cuerpo #pagina #datos #pizza_texto   {
	height: auto;
	width: 700px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	font-family: Calibri, Arial;
	font-size: 18px;
	color: #FFF;
}
#cuerpo #pagina #datos #pizza_texto #precios {
	height: 122px;
	width: 550px;
	font-size: 18px;
	color: #FFF;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #660;
	border-bottom-color: #660;
	border-left-color: #660;
	margin-right: auto;
	margin-left: auto;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila1 {
	width: 550px;
	height: 20px;
	font-weight: bold;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila1 #columna1 {
	float: left;
	text-align: center;
	width: 410px;
	height: 20px;
	color: #FFF;
	background-color: #660;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila1 #columna2 {
	float: right;
	text-align: center;
	width: 140px;
	height: 20px;
	color: #FFF;
	background-color: #660;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila2 {
	height: 48px;
	width: 550px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #660;
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #660;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila2 #columna1 {
	float: left;
	text-align: left;
	width: 406px;
	height: 22px;
	margin-top: 25px;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila2 #columna2 {
	float: right;
	text-align: center;
	width: 140px;
	height: 44px;
	padding-top: 4px;
	border-left-width: medium;
	border-left-style: solid;
	border-left-color: #660;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila3 {
	height: 48px;
	width: 550px;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila3 #columna1 {
	float: left;
	text-align: left;
	width: 406px;
	height: 22px;
	margin-top: 25px;
}
#cuerpo #pagina #datos #pizza_texto #precios #fila3 #columna2 {
	float: right;
	text-align: center;
	width: 140px;
	height: 44px;
	padding-top: 4px;
	border-left-width: medium;
	border-left-style: solid;
	border-left-color: #660;
}
#cuerpo #pagina #datos #galeria   {
	height: 218px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#cuerpo #pagina #datos #galeria   #vista_previa{
	height: 216px;
	width: 172px;
	float: left;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
#cuerpo #pagina #datos #galeria #vista_previa    #img_previa{
	height: 44px;
	width: 76px;
	background-color: #FFF;
	padding: 3px;
	margin: 2px;
}
#cuerpo #pagina #datos #galeria   #vista_grande{
	height: 212px;
	width: 363px;
	text-align: center;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2px;
}
#cuerpo #pagina #datos #galeria #vista_grande    #img_grande{
	height: 210px;
	width: 360px;
	background-color: #FFF;
	padding: 3px;
}
#cuerpo #pagina #datos #sushi_texto   {
	height: auto;
	width: 700px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	font-family: Calibri, Arial;
	font-size: 18px;
	color: #FFF;
}
#cuerpo #pagina #datos #comidas_texto   {
	height: auto;
	width: 700px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 0px;
	font-family: Calibri, Arial;
	font-size: 18px;
	color: #FFF;
}
#cuerpo #pagina #datos #eventos_texto   {
	height: auto;
	width: 700px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 0px;
	font-family: Calibri, Arial;
	font-size: 18px;
	color: #FFF;
}
#cuerpo #pagina #datos #informacion   {
	height: 200px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: underline;
}
#cuerpo #pagina #datos #informacion   #direcciones{
	height: auto;
	width: 600px;
	font-size: 22px;
}
#cuerpo #pagina #datos #informacion   #formulario{
	height: auto;
	width: 400px;
	font-size: 18px;
	float: left;
	margin-top: 20px;
}
#cuerpo #pagina #datos #informacion   a #facebook{
	height: 120px;
	width: 120px;
	float: right;
	margin-top: 60px;
}
#cuerpo #pagina #borde_inferior {
	background-color: #000;
	background-image: url(../Imagenes/borde_inferior.jpg);
	float: right;
	height: 44px;
	width: 790px;
	margin-left: auto;
}
