@charset "utf-8";
/* CSS Document */

#cuerto {
	color: #FFF;
	background-color: #000;
}
#cuerto #pagina {
	height: auto;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000;
	margin-top: 0px;
}
#cuerto #pagina #datos  {
	height: 420px;
	width: 620px;
	background-color: #000;
	background-image: url(../Imagenes/Fondo_700px%20.jpg);
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
	background-repeat: no-repeat;
}
#cuerto #pagina #datos #texto {
	font-size: 40px;
	height: auto;
	width: 600px;
	color: #FFF;
	text-align: center;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#cuerto #pagina #datos #texto #texto_1 {
	height: auto;
	width: 600px;
	font-family: "Freestyle Script", Arial;
	font-size: 56px;
}
#cuerto #pagina #datos a #logo  {
	height: 133px;
	width: 350px;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
#cuerto #pagina #datos #texto #texto_2 {
	font-family: Calibri, Arial;
	font-size: 36px;
	height: auto;
	width: 600px;
	letter-spacing: 20px;
}
