@charset "utf-8";
/* CSS Document */

#cuerpo {
	background-color: #000;
	height: auto;
	width: auto;
	text-align: center;
}
#cuerpo #pagina {
	color: #FFF;
	height: 380px;
	width: 600px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

#cuerpo #pagina #logo {
	margin-bottom: 20px;
	height: 154px;
	width: 379px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../Imagenes/logo_negro.jpg);
}
#cuerpo #pagina #cons {
	font-size: 36px;
	color: #FFF;
	height: 40px;
	width: 42%;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}
#cuerpo #pagina a #face  {
	height: 100px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}
