@charset "utf-8";
/* CSS Document */

#cuerpo {
	background-color: #000;
	background-image: url(../Imagenes/1.jpg);
	background-attachment: fixed;
}

#cuerpo #pagina {
	height: 2200px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: thick dotted #C63;
	background-color: #6D353E;
}
#cuerpo #pagina #titulo {
	color: #3C0;
	font-size: 50px;
	text-align: center;
	height: auto;
	width: 100%;
	padding-top: 1%;
}
#cuerpo #pagina #titulo #subtitulo {
	color: #FF9;
	font-size: 30px;
	text-align: left;
	height: auto;
	width: 93%;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-left: 6%;
}
#cuerpo #pagina #tablas_de_descarga {
	height: 44%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	color: #c00;
	font-size: 28px;
	margin-top: 10%;
	margin-bottom: 5%;
}
#cuerpo #pagina #linea {
	height: auto;
	width: 100%;
	margin-top: 5%;
	margin-right: auto;
	margin-bottom: 5%;
	margin-left: auto;
}
#cuerpo #pagina #video-1 {
	width: 90%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: 5%;
	height: auto;
}
#cuerpo #pagina #video-1 #titulo_vid_1 {
	font-size: 36px;
	text-align: center;
	color: #CF6;
	height: auto;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 8%;
}
#cuerpo #pagina #video-1 #ver_vid {
	height: 467px;
	width: 640px;
	margin: auto;
}

#cuerpo #pagina #tablas_de_descarga #opcion-1 {
	height: auto;
	width: 100%;
	margin-bottom: 10%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-2 {
	height: auto;
	width: 100%;
	margin-bottom: 10%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-3 {
	height: auto;
	width: 100%;
	margin-bottom: 10%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-4 {
	margin-bottom: 10%;
	height: auto;
	width: 100%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-5 {
	height: auto;
	width: 100%;
	margin-bottom: 10%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-6 {
	height: auto;
	width: 100%;
	margin-bottom: 10%;
}


#cuerpo #pagina #tablas_de_descarga #descarga    {
	height: 100%;
	width: 20%;
	text-align: center;
	border: thick ridge #C90;
}

#cuerpo #pagina #tablas_de_descarga a:link {
	text-decoration:none;
	color:#c00;
}
#cuerpo #pagina #tablas_de_descarga a:active {
	text-decoration:none;
	color:#c00;
}
#cuerpo #pagina #tablas_de_descarga a:visited {
	text-decoration:none;
	color:#c00;
}
#cuerpo #pagina #tablas_de_descarga a:hover {
	text-decoration:blink;
	color: #00AA00;
	font-weight: bold;
}
#cuerpo #pagina #tablas_de_descarga a:hover {
	
}
#cuerpo #pagina #tablas_de_descarga #opcion-1 table tr #1-titulo {
	height: auto;
	width: 80%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-2 table tr #2-titulo {
	height: auto;
	width: 80%;
}

#cuerpo #pagina #tablas_de_descarga #opcion-3 table tr #3-titulo {
	height: auto;
	width: 80%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-4 table tr #4-titulo {
	height: auto;
	width: 80%;
}
#cuerpo #pagina #tablas_de_descarga #opcion-5 table tr #5-titulo {
	height: auto;
	width: 80%;
}

#cuerpo #pagina #contador {
	text-align: center;
	float: right;
	height: auto;
	width: 118px;
	margin-top: 16%;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-left: auto;
}
