@charset "utf-8";
/* CSS Document */

#cuerpo {
	background-color: #000;
	height: auto;
	width: auto;
}

#cuerpo #pagina {
	height: 2200px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #CFC;
	padding-top: 14px;
}
#cuerpo #pagina #titulo {
	height: 62px;
	width: 990px;
	text-align: center;
	color: #09F;
	font-size: 18px;
	margin-bottom: 75px;
}
#cuerpo #pagina #flash {
	height: auto;
	width: 990px;
	text-align: center;
	background-color: #CCC;
}


#cuerpo #pagina #flash #1 {
	height: 402px;
	width: 590px;
	margin-bottom: 75px;
	margin-right: auto;
	margin-left: auto;
}
#cuerpo #pagina #flash #2 {
	height: 402px;
	width: 590px;
	margin-bottom: 75px;
	margin-right: auto;
	margin-left: auto;
}






#cuerpo #pagina #contador {
	text-align: center;
	float: right;
	height: 15px;
	width: 80px;
	margin-top: 16%;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-left: auto;
}
